.orderCard {
  padding: 10px 0;
  width: 345px;
}
.lissst {
  justify-content: center;
  margin-left: 15px !important;
  margin-right: 15px !important;
}
.header {
  margin-top: 100px;
  /* margin-left: 100px; */
  font-size: xx-large;
  text-align: center;
}
.card {
  margin: 40px 40px;
}

.card:hover {
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
}

.spanTag {
  display: flex !important;
  justify-content: space-between !important;
  margin-top: 10px !important;
  /* background-color: #eee; */
}
.baton {
  display: flex !important;
  justify-content: space-between !important;
  /* margin-top: 10px!important; */
  background-color: black;

  font-weight: bold !important;
  text-decoration: none!important;
  color:#ffe484!important;
}

.baton:hover {
  color:#eee;

}
.price {
  font-weight: 800;
  /* font-weight: bolder; */
}
